/*
 * tweaking bootstrap title
 */
h2 {
	margin-top: .5rem;
}

/*
 * avoids having to use JavaScript for the navbar toggle
 */
#navbarToggleCheckbox:checked ~ .collapse {
	display: block;
}

#navbarToggleCheckbox {
	display: none;
}

/*
 * color-fonts display check marks and crosses using their built-in colors,
 * the trick below ensures that the selected colors get used instead
 */
.check_passed {
	color: transparent;
	text-shadow: 0 0 0 green;
}

.check_failed {
	color: transparent;
	text-shadow:0 0 0 red;
}

/*
 * some rows are displayed semi-transparent
 */
.opacity0, .opacity1 {
	opacity: 0.3;
}

.opacity2 {
	opacity: 0.5;
}

.opacity3 {
	opacity: 0.7;
}
