<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="index">
		<title>{{ title }} - {{ topic }}</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/dark-mode.css">
		<link rel="stylesheet" href="/css/directory.css">
		<link rel="stylesheet" href="/css/gh-fork-ribbon.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="/img/icon.svg" width="38" alt="PrivateBin">
					{{ title }}
				</a>
				<input type="checkbox" id="navbarToggleCheckbox">
				<label for="navbarToggleCheckbox" class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">&#9776;</label>
				<div id="navbarSupportedContent" class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/add">Add</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/check">Check</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item ms-5">
							<div class="form-check form-switch navbar-text">
								<input id="darkSwitch" type="checkbox" class="form-check-input">
								<label for="darkSwitch" class="form-check-label">Dark Mode</label>
							</div>
							<script src="/css/dark-mode-switch.js"></script>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<h2>{{ topic }}</h2>
{% block content -%}
{% endblock content %}
		</div>
		<a class="github-fork-ribbon" href="https://github.com/PrivateBin/Directory" title="Fork me on GitHub">Fork me on GitHub</a>
	</body>
</html>