<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robots" content="index">
		<title>{{ title }} - {{ topic }}</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/dark-mode.css">
		<link rel="stylesheet" href="/css/directory.css">
		<link rel="stylesheet" href="/css/gh-fork-ribbon.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light">
			<a class="navbar-brand" href="/">
				<img src="/img/icon.svg" width="38" alt="PrivateBin">
				{{ title }}
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarSupportedContent" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add">Add</a>
					</li>
					<li class="nav-item">
						<span class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</li>
					<li class="nav-item">
						<div class="custom-control custom-switch navbar-text">
							<input id="darkSwitch" type="checkbox" class="custom-control-input">
							<label for="darkSwitch" class="custom-control-label">Dark Mode</label>
						</div>
						<script src="/css/dark-mode-switch.js"></script>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<h2>{{ topic }}</h2>
{% block content -%}
{% endblock content %}
		</div>
		<a class="github-fork-ribbon" href="https://github.com/PrivateBin/Directory" title="Fork me on GitHub">Fork me on GitHub</a>
	</body>
</html>