{% extends "base" %}
{% import "macros" as draw %}

{% block content %}
{% for table in tables %}
{{ draw::table(caption=table.title, header=table.header, table=table.body) }}
{% endfor %}
{% endblock content %}