name: Rust test & lint
on:
  push:
  pull_request:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install latest Rust nightly (required by Rocket)
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        components: rustfmt, clippy
    - name: Cache GeoIP database
      id: cache-geoip
      uses: actions/cache@v1
      with:
        path: var
        key: static-geoip
    - name: Download GeoIP database
      if: steps.cache-geoip.outputs.cache-hit != 'true'
      run: curl -s https://download.db-ip.com/free/dbip-country-lite-2020-04.mmdb.gz | zcat > var/geoip-country.mmdb
    - name: Cache cargo registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache cargo build
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
    - name: Execute all unit and integration tests and build examples
      uses: actions-rs/cargo@v1
      env:
        CRON_KEY: dont-use-this-one-in-production
        GEOIP_MMDB: var/geoip-country.mmdb
        ROCKET_DATABASES: '{directory={url="var/directory.sqlite"}}'
      with:
        command: test
    - name: Check formatting of code and suggest improvement
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check
    - name: Check for common mistakes and code improvements
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run cargo bloat
      uses: orf/cargo-bloat-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Remove SQLite database, to prevent it getting cached
      run: rm var/directory.sqlite
